<div class="guideline-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h3>{{ pageTitle }} Guidelines</h3>
    <ul class="sidebar-nav">
      <li *ngFor="let guideline of guidelines">
        <a
          [routerLink]="['/guidelines', guideline.id]"
          [queryParams]="{ from: sourcePage }"
          [class.active]="guideline.id === '4.1.2'"
        >
          {{ guideline.id }} - {{ guideline.title }}
        </a>
      </li>
    </ul>
  </aside>

  <main class="guideline-detail">
    <!-- Header section -->
    <section class="guideline-header">
      <h1 class="guideline-title">
        4.1.2 - Name, Role, Value
        <a
          target="_blank"
          href="https://www.w3.org/WAI/WCAG22/Understanding/name-role-value.html"
          >Official 4.1.2 WCAG Docs</a
        >
      </h1>
      <label>
        Mark as Fulfilled
        <input
          type="checkbox"
          [checked]="fulfilled"
          (change)="onFulfilledChange($event)"
          title="Mark as fulfilled"
        />
      </label>
    </section>

    <!-- Description -->
    <section class="content-card">
      <p class="guideline-description">
        This success criterion aims to help people using assisstive technology
        understand all components in context
      </p>
      <div class="guideline-section">
        <h3>Who does this benefit?</h3>
        <ul>
          <li>
            People using assistive technology, such as screen readers, screen
            magnifiers, and speech recognition software
          </li>
        </ul>
        <h3>How to meet this criterion</h3>
        <ul>
          <li>
            Using aria-label to provide an invisible label where a visible label
            cannot be used
          </li>
          <li>
            Using aria-labelledby to provide a name for user interface controls
          </li>
        </ul>
      </div>
      <a
        target="_blank"
        href="https://www.w3.org/WAI/WCAG22/quickref/?showtechniques=111%2C143%2C211%2C243%2C331%2C412#name-role-value"
        >More details on how to meet this criterion</a
      >
    </section>

    <!-- Example -->
    <section class="content-card">
      <h2>Examples</h2>

      <div class="examples-container">
        <div class="example-card-1">
          <h3>A close button in a pop-up box</h3>
          <img src="images/4.1.2/412-example-1.png" alt="example 1" />
          <p>
            <br />
            Code example:
            <br />
            <br />
            &lt;button
            <strong>aria-label="Close"</strong> class="btn-close">&lt;/button>
          </p>
        </div>

        <div class="example-card-2">
          <h3>Labelling a table of content</h3>
          <img src="images/4.1.2/412-example-2.png" alt="Example 2" />
          <p>
            <br />
            Code example:
            <br />
            <br />
            &lt;td aria-labelledby="header-item">Good Printing&lt;/td>
            <br />
            <br />
            &lt;td aria-labelledby="header-documents">1,000&lt;/td>
          </p>
        </div>
      </div>
    </section>
  </main>
</div>
