<main class="guideline-detail">
  <!-- Header section -->
  <section class="guideline-header">
    <div class="guideline-title-container">
      <h1 class="guideline-title">2.4.3 - Focus Order</h1>
    </div>
  </section>

  <!-- Description -->
  <section class="content-card">
    <p class="guideline-description">
      This success criterion aims to make it so keyboard users navigate in a
      correct order
    </p>
    <div class="guideline-section">
      <h3>Who does this benefit?</h3>
      <ul>
        <li>
          People with mobility impairments who must rely on keyboard access for
          operating a page
        </li>
        <li>
          People with disabilities that make reading difficult can become
          disoriented when tabbing takes focus someplace unexpected
        </li>
        <li>
          People with visual impairments can become disoriented when tabbing
          takes focus someplace unexpected or when they cannot easily find the
          content surrounding an interactive element.
        </li>
        <li>
          People who use a screen magnifier at a high level of magnification.
          Such a user may interpret a field in the wrong context if the focus
          order is not logical.
        </li>
      </ul>
      <h3>How to meet this criterion</h3>
      <ul>
        <li>
          Placing the interactive elements in an order that follows sequences
          and relationships within the content
        </li>
      </ul>
    </div>
    <a
      target="_blank"
      href="https://www.w3.org/WAI/WCAG22/quickref/?showtechniques=111%2C143%2C211%2C243#focus-order"
      >More details on how to meet this criterion</a
    >
  </section>

  <!-- Example -->
  <section class="content-card">
    <h2>Examples</h2>

    <div class="examples-container">
      <div class="example-card-1">
        <h3>Example 1</h3>
        <img src="" alt="example 1" />
        <p>
          Code example:
          <br />
          &lt;example>
        </p>
      </div>

      <div class="example-card-2">
        <h3>Example 2</h3>
        <img src="" alt="Example 2" />
        <p>
          Code examples:
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
        </p>
      </div>
    </div>
  </section>
</main>
