<h2>WCAG 2.2 Guidelines for "History"</h2>
<div *ngIf="groupedGuidelines.length > 0">
  <div *ngFor="let group of groupedGuidelines" class="guideline-group">
    <h2 class="group-header" (click)="toggleGroup(group.category)">
      {{ group.category }}
      <i
        class="bi"
        [ngClass]="
          collapsedGroups[group.category]
            ? 'bi-chevron-right'
            : 'bi-chevron-down'
        "
      ></i>
    </h2>

    <div *ngIf="!collapsedGroups[group.category]" class="guideline-items">
      <div
        *ngFor="let guideline of group.items"
        class="guideline-item"
        [routerLink]="['/guidelines', guideline.id]"
        [queryParams]="{ from: pageName }"
        [class.greyed-out]="guideline.fulfilled"
      >
        <div class="guideline-content">
          <div>
            <h3>
              {{ guideline.id }} - {{ guideline.title }}
              <input
                type="checkbox"
                [checked]="guideline.fulfilled"
                (change)="onFulfilledChange(guideline, $event)"
                (click)="$event.stopPropagation()"
                title="Mark as fulfilled"
              />
            </h3>
            <p>{{ guideline.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
