<main class="guideline-detail">
  <!-- Header section -->
  <section class="guideline-header">
    <div class="guideline-title-container">
      <h1 class="guideline-title">2.1.1 - Keyboard</h1>
    </div>
  </section>

  <!-- Description -->
  <section class="content-card">
    <p class="guideline-description">
      The intent of this success criterion is to ensure that, wherever possible,
      content can be operated through a keyboard or keyboard interface (so an
      alternate keyboard can be used).
    </p>
    <div class="guideline-section">
      <h3>Who does this benefit?</h3>
      <ul>
        <li>People who are blind</li>
        <li>People with low vision</li>
        <li>
          Some people with hand tremors find using a mouse very difficult and
          therefore usually use a keyboard
        </li>
        <li>
          People who must use alternate keyboards or input devices that act as
          keyboard emulators
        </li>
      </ul>
    </div>
  </section>

  <!-- Example -->
  <section class="content-card">
    <h2>Example</h2>

    <div class="examples-container">
      <div class="example-card">
        <h3>
          Being able to navigate an entire page without using the mouse, as
          shown below <br />
          (Using tab and/or scren reader navigation)
        </h3>
        <video controls src="/videos/211-example.mov"></video>
        <p>
          Note:
          <br />
          Most keyboard navigation is built into semantic html structure, it can
          be forced by using attributes such as "tabindex", but it is generally
          advised against unless absolutely necessary
        </p>
      </div>
    </div>
  </section>
</main>
