<main class="guideline-detail">
  <!-- Header section -->
  <section class="guideline-header">
    <h1 class="guideline-title">3.3.1 - Error Identification</h1>
    <label>
      Mark as Fulfilled
      <input
        type="checkbox"
        [checked]="fulfilled"
        (change)="onFulfilledChange($event)"
        title="Mark as fulfilled"
      />
    </label>
  </section>

  <!-- Description -->
  <section class="content-card">
    <p class="guideline-description">
      This success criterion aims to make a user aware of an error existing and
      what is wrong
    </p>
    <div class="guideline-section">
      <h3>Who does this benefit?</h3>
      <ul>
        <li>
          Informing about input errors in text allows users who are blind or
          color blind to perceive the fact that an error occurred.
        </li>
        <li>
          People with cognitive, language, and learning disabilities who have
          difficulty understanding the specific reason why a form submission
          failed
        </li>
      </ul>
      <h3>How to meet this criterion</h3>
      <ul>
        <li>
          Providing text descriptions to identify required fields that were not
          completed
        </li>
        <li>Using Aria-Invalid to Indicate An Error Field</li>
      </ul>
    </div>
    <a
      target="_blank"
      href="https://www.w3.org/WAI/WCAG22/quickref/?showtechniques=111%2C143%2C211%2C243%2C331#error-identification"
      >More details on how to meet this criterion</a
    >
  </section>

  <!-- Example -->
  <section class="content-card">
    <h2>Examples</h2>

    <div class="examples-container">
      <div class="example-card-1">
        <h3>Example 1</h3>
        <img src="" alt="example 1" />
        <p>
          Code example:
          <br />
          &lt;example>
        </p>
      </div>

      <div class="example-card-2">
        <h3>Example 2</h3>
        <img src="" alt="Example 2" />
        <p>
          Code examples:
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
          <br />
          <br />
          &lt;example>
        </p>
      </div>
    </div>
  </section>
</main>
